{% extends 'layout.html' %} {% block content %}
<main id="main">
    <h1><strong>{{ cursor }}</strong></h1>
        {% if tracks|length < tracks_per_page %}
            {% for track in tracks %}
                    <div id="link_bar">
                        <ul>
                            <li><a href="{{ url_for('tracks_bp.display_track_info', track_id = track.track_id) }}">{{ track.title }}</a></li>
                        </ul>
                    </div>
            {% endfor %}

        {% elif cursor2 + tracks_per_page < tracks|length %}
            {% for track in tracks[cursor2 : cursor2 + tracks_per_page] %}
                    <div id="link_bar">
                        <ul>
                            <li><a href="{{ url_for('tracks_bp.display_track_info', track_id = track.track_id) }}">{{ track.title }}</a></li>
                        </ul>
                    </div>
            {% endfor %}

        {% else %}
            {% for track in tracks[cursor2 : ] %}
                    <div id="link_bar">
                        <ul>
                            <li><a href="{{ url_for('tracks_bp.display_track_info', track_id = track.track_id) }}">{{ track.title }}</a></li>
                        </ul>
                    </div>
            {% endfor %}

        {% endif %}

    <footer>
        <nav style="clear:both">
            <div style="float:left">
                {% for key in dict %}
                    <button class="btn-general" onclick="location.href='{{url_for('tracks_bp.browse_tracks_alphabetical_order', cursor=key)}}'">{{ key }}</button>
                {% endfor %}
            </div>

            <div style="float:right">
                {% if tracks|length < tracks_per_page %}
                    <button class="btn-general-disabled" disabled>Previous {{ cursor }}</button>
                    <button class="btn-general-disabled" disabled>Next {{ cursor }}</button>

                {% elif cursor2 + tracks_per_page < tracks|length %}
                    {% if cursor2 - tracks_per_page >= 0 %}
                        <button class="btn-general" onclick="location.href='{{url_for('tracks_bp.browse_tracks_alphabetical_order', cursor=cursor, cursor2=cursor2 - tracks_per_page)}}'">Previous {{ cursor }}</button>
                        <button class="btn-general" onclick="location.href='{{url_for('tracks_bp.browse_tracks_alphabetical_order', cursor=cursor, cursor2=cursor2 + tracks_per_page)}}'">Next {{ cursor }}</button>
                    {% else %}
                        <button class="btn-general-disabled" disabled>Previous {{ cursor }}</button>
                        <button class="btn-general" onclick="location.href='{{url_for('tracks_bp.browse_tracks_alphabetical_order', cursor=cursor, cursor2=cursor2 + tracks_per_page)}}'">Next {{ cursor }}</button>
                    {% endif %}
                {% else %}
                    <button class="btn-general" onclick="location.href='{{url_for('tracks_bp.browse_tracks_alphabetical_order', cursor=cursor, cursor2=cursor2 - tracks_per_page)}}'">Previous {{ cursor }}</button>
                    <button class="btn-general-disabled" disabled>Next {{ cursor }}</button>

                {% endif %}
            </div>
        </nav>
    </footer>

</main>
{% endblock %}