{% extends 'layout.html' %} {% block content %}
<main id="main">

    <h2>{{ track.title }}</h2>
        <p>Track Artist: {{ track.artist.full_name }}</p>
        <p>Track Album: {{ track.album.title }}</p>
        <p>Track Genres: {% for genre in track.genres %}{{ genre.name }} {% endfor %}</p>
        <p>Track Duration: {{ track.track_duration}} seconds </p>
        <div id="link_bar">
            <p>Track URL: <a href = "{{ track.track_url }}">{{ track.track_url }}</a></p>
        </div>

</main>
{% endblock %}