{% extends 'layout.html' %} {% block content %}
<main id="main">
    <h2>{{ track.title }}</h2>
        <p>Track Artist: {{ track.artist.full_name }}</p>
        <p>Track Album: {{ track.album.title }}</p>
        <p>Track Genres: {% for genre in track.genres %}{{ genre.name }} {% endfor %}</p>
        <p>Track Duration: {{ track.track_duration}} seconds </p>
        <div id="link_bar">
            <p>Track URL: <a href = "{{ track.track_url }}">{{ track.track_url }}</a></p>
        </div>


    <div style="float:right">
        {% if track.track_reviews|length > 0 %}
            <button class="btn-general" onclick="location.href='{{ view_comment_url }}'">{{ track.track_reviews|length }} Reviews</button>
        {% endif %}
        <button class="btn-general" onclick="location.href='{{ add_comment_url }}'">Review</button>
    </div>
    {% if track.track_reviews|length > 0 %}
        <br><h4>Track Reviews</h4>
            <div style="clear:both">
                {% for review in track.track_reviews %}
                    <p>{{review.review_text}} - {{review.reviewer}} &nbsp &nbsp &nbsp {{review.timestamp}}</p>
                {% endfor %}
            </div>
    {% endif %}

</main>
{% endblock %}