{% extends 'layout.html' %} {% block content %}
<main id="main">
  <p>
  Spootify is a Web Application that assists users to discover and rediscover Music.
  </p>
  <br />
  <p>

  With Spootify you will be able to browse tracks, retrieve information about your chosen tracks,
      search tracks by Artists and Albums, and many more features.
  </p>
  <br/>
   <p>
       To the left of the screen is a navigation bar to assist with roaming through Spootify.
   </p>
    <p>
        You will see ways to return to the Home page, Register, Logging in, and Logging out. You will also see
        ways to Browse Tracks, Search by Artist, and Search by Artists which are all conveniently
        sorted in Alphabetical order.
    </p>
    <br/>
  <p>
      To the right of the screen is a list of
      Popular Tracks to help you discover what tracks other people are listening to and interacting with.
      Click the title of any track whether you are browsing tracks or browsing the list of the Most Popular
      Tracks to retrieve information about the tracks and possibly learn something new

  To the left of the screen is a navigation bar to assist with roaming through Spootify.
  </p>
    <p>
         You will see ways to return to the Home page, Register, Logging in, and Logging out. You will also see ways to Browse Tracks, Search by Artist, and Search by Artists which are all conveniently sorted in Alphabetical order.

    </p>
  <br />
  <p>
      To leave a review on a track, please Register an account and Login.

    To the right of the screen is a list of Popular Tracks to help you discover what tracks other people are listening to and interacting with. Click the title of any track whether you are browsing tracks or browsing the list of the Most Popular Tracks to retrieve information about the tracks and possibly learn something new

  </p>
    <br />
    <p>
        To leave a review on a track, please Register an account and Login.
    </p>
  <p style="text-align: right; font-style: italic;">
  </p>
</main>
{% endblock %}
