<nav id="nav">
  <img id="logo" src="{{ url_for('static', filename='Groove.png') }}" />

  <h2 id="nav-header">
    {% if 'user_name' in session %} Hello, {{ session['user_name'] }} {%
    endif %}
  </h2>
  <a class="btn-nav" href="{{ url_for('home_bp.home') }}">Home</a>
  <a class="btn-nav" href="{{ url_for('authentication.register') }}">Register</a>
  <a class="btn-nav" href="{{ url_for('authentication.login') }}">Login</a>
  <a class="btn-nav" href="{{ url_for('authentication.logout') }}">Logout</a>
  <a class="btn-nav" href="{{ url_for('tracks_bp.browse_tracks_alphabetical_order') }}">Browse Tracks</a>
  <a class="btn-nav" href="{{ url_for('artists_bp.browse_artists_alphabetical_order') }}">Search by Artists</a>
  <a class="btn-nav" href="{{ url_for('albums_bp.browse_albums_alphabetical_order') }}">Search by Albums</a>

  <div id="nav-footer">
    COMPSCI 235 Software Development Methodologies
  </div>
</nav>
