<aside id="sidebar">

    <header>
        <h1>Popular Tracks</h1>
    </header>
        {% for track in selected_tracks %}
            <div id="link_bar">
                <br>
                <a href="{{ url_for('tracks_bp.display_track_info', track_id = track.track_id) }}"><em><strong>{{ track.title }}</strong></em></a><br>
                <strong>Artist:</strong> {{ track.artist.full_name }}<br>
                <strong>Album:</strong> {{ track.album.title }}
                <br>
                <br>
            </div>
        {% endfor %}
</aside>